body{
  background-color:#FFFAFA;
  color:#fff;
  font-family:Arial, Verdana;
  font-size:16px;
  text-align:justify;
}
section{
  width:95%;
  margin:auto;
}
header{
  width:100%;
  height:100px;
  background:#C71585;
  font-size:35px;
}
aside{
  width:30%;
  height:1000px;
  background:#FF69B4;
  float:right;
}
main{
  width:70%;
  height:1000px;
  background-color:#FFE4E1;
  color:#000;
  float:left;
}
footer{
  width:100%;
  height:60px;
  background-color:#C71585;
  clear:both;
}
.tabelas,td{
	border:1px solid #fff;
	border-radius:4px;
	width:90%;
	padding:2%;
}
